<style>
  #cookie-notice {
    z-index: 99;
    padding: 30px;
    display: none;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
    position: fixed;
    transform: translateX(50%);
    
    bottom: 20px;
    background-color: #333;
    background-image: linear-gradient(145deg, #73737326 15%, #2b2d2f 80%);
    box-shadow: 5px 5px 4px #161718, -5px -5px 4px #404346;
    border-radius: 2rem;
    margin: 1rem 0;
  }

  @media (min-width: 600px) {
    #cookie-notice {
      flex-direction: row;
      gap: 20px;
    }
  }

  #cookie-notice a.btn {
    color: #fff;
    padding: 8px 16px !important;
    border-radius: 0.5rem;
    cursor: pointer;
    display: unset;
    margin: 0 0.3rem 0.5rem;
    padding: 0.5rem 0.25rem;
    text-align: center;
  }

  .btn-primary {
    background: darkgreen;
  }

  @media (max-width: 767px) {
    #cookie-notice span {
      display: block;
      padding-top: 3px;
      margin-bottom: 1rem;
    }

    #cookie-notice a {
      position: relative;
      bottom: 4px;
    }
  }
</style>

<div id="cookie-notice" class="neumorphism-card">
  <span>
    We would like to use third party cookies and scripts to improve the functionality of this website.
  </span>
  <span>
    <a id="cookie-notice-accept" class="btn">Accept</a>
  </span>
</div>

<script>
  function createCookie(name, value, days) {
    var expires = "";
    if (days) {
      var date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
      expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + value + expires + "; path=/";
  }
  function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
  }
  function eraseCookie(name) {
    createCookie(name, "", -1);
  }

  if (readCookie('cookie-notice-dismissed') == 'true') {
    {% if site.google_tag_id %}
      window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{site.google_tag_id}}');
    {% endif %}
  } else {
    document.getElementById('cookie-notice').style.display = 'flex';
  }
  document.getElementById('cookie-notice-accept').addEventListener("click", function () {
    createCookie('cookie-notice-dismissed', 'true', 31);
    document.getElementById('cookie-notice').style.display = 'none';
    location.reload();
  });

</script>