<h1 class="title">{{page.title}}</h1>
<p class="description" data-aos="fade-down">{{site.about_me_description}}</p>

      <main id="main" class="site-main" role="main">
      
      
        <div class="layout">
          <header class="entry-header">
            <h1 class="entry-title">Crypto Ressources</h1>
          </header><!-- .entry-header -->
          <div class="entry-content">
            <h2>Wallets &amp; Storage</h2>
            <p class="description" data-aos="fade-down"><a href="https://iancoleman.io/bip39/">Mnemonic Code Converter</a></p>
            <p class="description" data-aos="fade-down"><a
                href="https://medium.com/myetherwallet/hd-wallets-and-derivation-paths-explained-865a643c7bf2">https://medium.com/myetherwallet/hd-wallets-and-derivation-paths-explained-865a643c7bf2</a>
            </p>
            <h3>Choosing a wallet:</h3>
            <p class="description" data-aos="fade-down"><a href="https://www.youtube.com/watch?v=tN6b62sEpsY&amp;ab_channel=aantonop">Aantonop – Bitcoin
                Q&amp;A: How Do I Choose a Wallet?<br>
              </a></p>
            <p class="description" data-aos="fade-down"><a href="https://www.youtube.com/watch?v=cONG2ZNjJ0c">Aantonop – Bitcoin Q&amp;A: Can you trust a
                hardware wallet to generate your seed?</a></p>
            <h3>Multisig Wallets</h3>
            <p class="description" data-aos="fade-down"><a href="https://gnosis-safe.io/">Gnosis Multisig Wallet</a></p>
            <h2 class="LC20lb DKV0Md">Lightning Network</h2>
            <p class="description" data-aos="fade-down"><a href="https://ln.guide/">Link Compilation</a></p>
            <p class="description" data-aos="fade-down"><a href="https://github.com/lnbook/lnbook">Book: Mastering the Lightning Network</a></p>
            <p class="description" data-aos="fade-down"><a href="https://www.youtube.com/watch?v=fEPW6RXMGmA&amp;ab_channel=aantonop">Video: Mastering the
                Lightning Network with Andreas and René – Bonus Livestream Event</a></p>
            <p class="description" data-aos="fade-down"><a href="https://medium.com/@dougvk/run-your-own-mainnet-lightning-node-2d2eab628a8b">Run your own
                mainnet Lightning Node </a></p>
            <p class="description" data-aos="fade-down"><a href="https://stadicus.github.io/RaspiBolt/">Beginner’s Guide to ️Lightning️ on a Raspberry Pi</a>
            </p>
            <p class="description" data-aos="fade-down"><a href="https://github.com/Ride-The-Lightning/RTL">UI for Lightning Node operations</a></p>
            <h2>DeFi</h2>
            <h3>Information Aggregator:</h3>
            <p class="description" data-aos="fade-down"><a href="https://defipulse.com/">DeFi pulse</a></p>
            <h3>Pool Information:</h3>
            <p class="description" data-aos="fade-down">https://www.dextools.io/app/uniswap/pool-explorer</p>
            <p class="description" data-aos="fade-down">https://info.uniswap.org/</p>
            <h3>Swapping</h3>
            <h4>Uniswap:</h4>
            <p class="description" data-aos="fade-down"><a href="https://docs.ethhub.io/guides/graphical-guide-for-understanding-uniswap/">A Graphical Guide
                for Understanding Uniswap</a></p>
            <h3>Smart Contract Audits:</h3>
            <p class="description" data-aos="fade-down"><a href="https://defisafety.com/">DeFi Safety</a></p>
            <h3>Yield Farming</h3>
            <p class="description" data-aos="fade-down"><a href="https://yieldfarming.info/">yieldfarming.info</a></p>
            <h3>Asset Overview Dashboard</h3>
            <p class="description" data-aos="fade-down"><a href="https://zapper.fi/dashboard">Zapper</a></p>
            <h3>ETH Gas Info</h3>
            <p class="description" data-aos="fade-down"><a
                href="https://medium.com/dextf/ethereum-how-to-save-even-more-on-gas-price-with-a-weekly-plan-c6689ac09fe6">Gas Price correlation by weekday and hour</a>
            </p>
            <p class="description" data-aos="fade-down">
              <a href="https://ethgasstation.info/">ETH Gas Station</a>
            </p>
            <h2>Security of Exchanges</h3>
            <p class="description" data-aos="fade-down">
              <a href="https://cer.live/">cer.live</a>
            </p>
            <h2>Audits of tokens</h3>
            <p class="description" data-aos="fade-down">
              <a href="https://cer.live/audits">cer.live/audits</a>
            </p>
            <h2>Ethereum Ressources</h2>
            <p class="description" data-aos="fade-down"><a href="https://github.com/yippee-ki-yay/eth-dev-reading-list">Dev Reading List</a></p>
            <h2>Bitcoin Ressources</h2>
            <p class="description" data-aos="fade-down"><a href="https://bitcoin-resources.com/">https://bitcoin-resources.com/</a></p>
            <p class="description" data-aos="fade-down"><a href="https://www.lopp.net/bitcoin-information.html">https://www.lopp.net/bitcoin-information.html</a>
            </p>
            <h3>Some analysis and models</h3>
            <h2>Wallets &amp; Storage</h2>
            <h3>Choosing a wallet:</h3>
            <p class="description" data-aos="fade-down"><a href="https://www.youtube.com/watch?v=tN6b62sEpsY&amp;ab_channel=aantonop">Aantonop – Bitcoin
                Q&amp;A: How Do I Choose a Wallet?<br>
              </a></p>
            <p class="description" data-aos="fade-down"><a href="https://www.youtube.com/watch?v=tN6b62sEpsY&amp;ab_channel=aantonop">Aantonop – Bitcoin
                Q&amp;A: Can you trust a hardware wallet to generate your seed?</a></p>
            <h3>High security storage for large amounts</h3>
            <p class="description" data-aos="fade-down">Protocol: <a href="https://glacierprotocol.org/">https://glacierprotocol.org/</a></p>
            <p class="description" data-aos="fade-down">Laptop: <a href="https://puri.sm/">https://puri.sm/</a></p>
            <h3>Multisig Wallets</h3>
            <p class="description" data-aos="fade-down"><a href="https://gnosis-safe.io/">Gnosis Multisig Wallet</a></p>
            <h2 class="LC20lb DKV0Md">Lightning Network</h2>
            <p class="description" data-aos="fade-down"><a href="https://ln.guide/">Link Compilation</a></p>
            <p class="description" data-aos="fade-down"><a href="https://github.com/lnbook/lnbook">Book: Mastering the Lightning Network</a></p>
            <p class="description" data-aos="fade-down"><a href="https://www.youtube.com/watch?v=fEPW6RXMGmA&amp;ab_channel=aantonop">Video: Mastering the
                Lightning Network with Andreas and René – Bonus Livestream Event</a></p>
            <p class="description" data-aos="fade-down"><a href="https://medium.com/@dougvk/run-your-own-mainnet-lightning-node-2d2eab628a8b">Run your own
                mainnet Lightning Node </a></p>
            <p class="description" data-aos="fade-down"><a href="https://stadicus.github.io/RaspiBolt/">Beginner’s Guide to ️Lightning️ on a Raspberry Pi</a>
            </p>
            <p class="description" data-aos="fade-down"><a href="https://github.com/Ride-The-Lightning/RTL">UI for Lightning Node operations</a></p>
            <h2>DeFi</h2>
            <h3>Information Aggregator:</h3>
            <p class="description" data-aos="fade-down"><a href="https://defipulse.com/">DeFi pulse</a></p>
            <h3>Pool Information:</h3>
            <p class="description" data-aos="fade-down">https://www.dextools.io/app/uniswap/pool-explorer</p>
            <p class="description" data-aos="fade-down">https://info.uniswap.org/</p>
            <h3>Swapping</h3>
            <h4>Uniswap:</h4>
            <p class="description" data-aos="fade-down"><a href="https://docs.ethhub.io/guides/graphical-guide-for-understanding-uniswap/">A Graphical Guide
                for Understanding Uniswap</a></p>
            <h3>Smart Contract Audits:</h3>
            <p class="description" data-aos="fade-down"><a href="https://defisafety.com/">DeFi Safety</a></p>
            <p class="description" data-aos="fade-down">
              <a href="https://cer.live/defi">https://cer.live/defi</a>
            </p>
            <h3>Yield Farming</h3>
            <p class="description" data-aos="fade-down"><a href="https://yieldfarming.info/">yieldfarming.info</a></p>
            <h3>Asset Overview Dashboard</h3>
            <p class="description" data-aos="fade-down"><a href="https://zapper.fi/dashboard">Zapper</a></p>
            <h3>Gas Price correlation by weekday and hour</h3>
            <p class="description" data-aos="fade-down"><a
                href="https://medium.com/dextf/ethereum-how-to-save-even-more-on-gas-price-with-a-weekly-plan-c6689ac09fe6">https://medium.com/dextf/ethereum-how-to-save-even-more-on-gas-price-with-a-weekly-plan-c6689ac09fe6</a>
            </p>
            <h2>Ethereum Ressources</h2>
            <p class="description" data-aos="fade-down"><a href="https://github.com/yippee-ki-yay/eth-dev-reading-list">Dev Reading List</a></p>
            <h2>Bitcoin Ressources</h2>
            <p class="description" data-aos="fade-down"><a href="https://bitcoin-resources.com/">https://bitcoin-resources.com/</a></p>
            <p class="description" data-aos="fade-down"><a href="https://www.lopp.net/bitcoin-information.html">https://www.lopp.net/bitcoin-information.html</a>
            </p>
            <h3>Some analysis and models</h3>
            <p class="description" data-aos="fade-down"><a href="http://charts.woobull.com/">http://charts.woobull.com/</a></p>
            <p class="description" data-aos="fade-down"><a href="https://medium.com/@100trillionUSD">https://medium.com/@100trillionUSD</a></p>
            <h3>Sentiment Tools:</h3>
            <p class="description" data-aos="fade-down"><a href="https://app.santiment.net/">https://app.santiment.net/</a></p>
            <p class="description" data-aos="fade-down"><a href="https://insights.glassnode.com/">https://insights.glassnode.com/</a></p>
            <p class="description" data-aos="fade-down"><a href="https://studio.glassnode.com/">https://studio.glassnode.com/</a></p>
          </div><!-- .entry-content -->
        </div><!-- #post-288 -->
      
      </main><!-- #main -->
