---
---
.entry-header {
  margin-top: 30px;
  .entry-title {
    color: #fff;
    line-height: 1.2;
  }
  .description {
    color: #fff;
  }
}
.navigation {
  top: 0;
  margin-bottom: 0px;
}
.nav_outer {
  position: relative;
  margin: 0.5rem 0.5rem -1.5rem 0.5rem;
  padding: 2rem;
  background: #2b2d2f;
  border-radius: 1rem;
  text-align: center;
  .nav_inner {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    @media (min-width: 600px) {
      & {
      grid-template-columns: 1fr 1fr 1fr;}
    }
  }
  a {
    display: block;
    color: #fff;
    padding: 8px 10px !important;
    border-radius: 0.5rem;
    cursor: pointer;
    display: unset;
    margin: 0 0.3rem 0.5rem;
    padding: 0.5rem 0.25rem;
    text-align: center;
  background: linear-gradient(
    145deg,
    rgba(100, 100, 105, 0.15) 15%,
    rgba(33, 33, 33, 0.4) 80%
  );
  box-shadow: -4px -3px 2px 0 rgba(250, 250, 250, 0.13),
    4px 4px 2px 0 rgba(0, 0, 0, 0.4);
    &:hover {
      text-decoration: underline;
    }
  }
  a.active {
    color: #ff073a;
    font-weight: 600;
    background: linear-gradient(
    150deg,
    rgba(20, 20, 20, 0.4) 10%,
    rgba(115, 115, 115, 0.15) 80%
  );
  box-shadow: 1px 1px 2px 0 rgba(210, 210, 210, 0.4),
    -1px -1px 2px rgba(0, 0, 0, 0.4), inset 3px 3px 2px 0 rgba(0, 0, 0, 0.4),
    inset -1px -2px 2px rgba(210, 210, 210, 0.4);
  }
}
.resources {
  .layout .card {
    background: #fff;
    border-radius: 2rem;
    margin: 3rem 0;
    padding: 1rem 2rem;
    .entry-title {
      font-size: 40px;
      font-weight: 700;
      color: #000;
    }
    @media (min-width: 375px) {
      h1 {
        font-size: 60px;
      }
    }
    h2 {
      font-size: 26px;
      font-weight: 500;
      color: #222;
    }
    h3,
    h4 {
      color: #444;
    }
    p {
      color: #555;
      word-break: break-all;
    }
    a {
      word-break: break-all;
      text-decoration: underline;
      &:hover {
        color: rgb(20, 30, 141);
      }
    }
  }
}
.navigation ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 768px) {
  .navigation ul {
    flex-direction: row;
  }
}
.indicators {
  .entry-title {
    text-align: center;
    font-size: 50px;
  }
  .lazy-loaded {
    max-width: 100%;
    display: block;
    margin: 30px auto;
  }
}
.project .name-link-wrapper h3 {
  word-break: break-all;
}