<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}

<script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
<coingecko-coin-price-marquee-widget id="coingecko-coin-price-marquee-widget"
  coin-ids="bitcoin,litecoin,0x,neo,ethereum,bitcoin-cash,nem,ripple,eos,stellar,tron,bitcoin-cash-sv,cardano,monero,tezos"
  currency="usd" background-color="#ffffff" locale="en"></coingecko-coin-price-marquee-widget>
<!-- /end HFCM by 99 Robots -->

<body class="{{page.class}}">
  <div class="neumorphism-card nav_outer">
    {%- include nav.html -%}
  </div>
  {{content}}
  {% include footer.html %}
</body>
</html>
